@charset 'UTF-8';

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    z-index: 0
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    cursor: grab
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized:not(.questions-container, .questions-container-produit) .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(/hellopro_fr/images/ajax-loader.gif) center center no-repeat
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(/design_system/fonts/slick/slick.eot);
    src: url(/design_system/fonts/slick/slick.eot?#iefix) format('embedded-opentype'), url(/design_system/fonts/slick/slick.woff) format('woff'), url(/design_system/fonts/slick/slick.ttf) format('truetype'), url(/design_system/fonts/slick/slick.svg#slick) format('svg')
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    color: transparent;
    outline: 0;
    background: 0 0
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    content: '←'
}

[dir=rtl] .slick-prev:before {
    content: '→'
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slick-next:before {
    content: '→'
}

[dir=rtl] .slick-next:before {
    content: '←'
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: 0
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

.slick-initialized:not(.questions-container, .questions-container-produit) .slick-slide,
.slick-initialized:not(.questions-container, .questions-container-produit) .slick-track {
    display: flex !important;
    justify-content: center !important;
    align-items: center
}

#description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 78%
}

#description a {
    text-decoration: underline !important;
    font-weight: 700 !important
}

#vr_plus {
    align-self: end
}

#vr_plus.moins {
    align-self: start;
    display: block
}

#description.unfold {
    display: block;
    width: auto;
    height: auto
}

#lefter {
    min-width: 276px;
    max-width: 276px
}

.bandeau-sticky-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1208px;
    z-index: 500;
    transform: translateY(100%);
    transition: all .25s ease-in;
    background-color: #fff;
    margin: 0 var(--val-padding)
}

.container.bandeau-sticky {
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(4, 19, 37, .08);
    bottom: 0;
    background-color: var(--color-white);
    border: 2px solid var(--color-orange)
}

.bandeau-sticky-container.is-visible {
    transform: translateY(0)
}

#modal-main-content {
    width: 600px
}

#next-screen,
#prev-screen {
    width: 180px
}

#form-widget {
    z-index: 10000;
    position: relative
}

.bullet {
    color: #ffc300
}

.logo-commercial {
    max-width: 110px;
    max-height: 110px
}

#cn-exemple-dd .hp-carousel {
    height: auto
}

.bandeau_cookie {
    position: fixed;
    right: 10px;
    height: 150px;
    bottom: 10px;
    background-color: #777775;
    width: 300px;
    color: #fff;
    opacity: .9;
    border-radius: 3px;
    font-size: 13px;
    text-align: left;
    margin-left: .5%;
    line-height: 17px;
    z-index: 1000;
    padding: 8px;
    min-height: 30px
}

.bandeau_cookie #btn_span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px
}

.bandeau_cookie button {
    cursor: pointer;
    background-color: #fff;
    color: #1e1a1a;
    border: 1px solid #fff;
    font-weight: 700;
    border-radius: 12%;
    text-shadow: 0 2px 0 rgba(227, 200, 255, .3);
    box-shadow: 0 0 5px rgba(12, 12, 12, .5), 0 -1px 0 rgba(255, 255, 255, .4);
    opacity: .9;
    border-radius: 3px;
    position: relative;
    width: 60px;
    padding: 5px
}

.bandeau_cookie #text_span a {
    color: #fff;
    text-decoration: underline
}

.pseudo-h1,
h1 {
    letter-spacing: -1px
}

#cn-form-ao .info-group {
    margin-top: 0 !important;
    padding-top: 0 !important
}

.error-info.badge.badge-danger {
    color: var(--color-rouge)
}

#cn-pub-banniere,
#cn-pub-pave {
    display: flex;
    align-items: center;
    justify-content: center
}

.last-posit-in-box {
    margin-bottom: 32px
}

#cn-pub-pave {
    margin-bottom: 16px
}

@media (max-width:1080px) {
    #bleu-container {
        padding: 16px
    }

    .container:first-of-type {
        padding: 16px 16px 0 16px
    }

    .card-devis {
        width: 32vw
    }
}

@media (max-width:926px) {
    #vr_plus {
        align-self: start
    }

    .bandeau-sticky-container {
        margin: auto
    }
}

@media (max-width:844px) {
    #bleu-container {
        padding: 16px 16px 0 16px
    }

    .container:first-of-type {
        padding: 16px
    }

    #cn-vignette-rub {
        width: 420px
    }

    #cn-vignette-form {
        gap: 40px !important
    }

    .white-divider.mb-112 {
        margin-bottom: 40px !important
    }

    #cn-description {
        flex-direction: column
    }

    #description {
        -webkit-line-clamp: 3;
        width: 98%
    }

    .bandeau-sticky-container {
        margin: unset
    }

    #cn-invit {
        font-size: 18px !important;
        width: 92vw;
        padding-bottom: 32px
    }

    .cn-invit {
        font-size: 18px !important;
        padding-bottom: 32px;
        padding-left: 4vw;
        padding-right: 4vw
    }

    .card-devis {
        width: 45vw
    }
}

@media (max-width:760px) {
    #sticky-text-1 {
        font-size: 20px !important
    }

    #sticky-text-2 {
        font-size: 12px
    }

    .container {
        padding: 16px 16px 0 16px
    }

    #vr_plus.moins {
        margin-left: 0 !important
    }

    #lefter-sticky {
        display: none
    }

    .container.bandeau-sticky {
        justify-content: center
    }
}

@media (max-width:768px) {
    #cn-vignette-rub .vignette {
        width: 92vw;
        height: 195px;
        max-width: 92vw
    }

    #cn-vignette-form {
        flex-direction: column
    }

    #cn-vignette-form.pb-112 {
        padding-bottom: 16px
    }

    #cn-vignette-form.gp-96 {
        gap: 16px !important
    }

    #cn-vignette-rub {
        width: 92vw
    }
}

@media (max-width:653px) {
    #cn-form-ao {
        width: 92vw;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    #cn-form-ao .info-group.form-group {
        margin-top: unset;
        padding-top: unset
    }

    #cn-form-ao.p-32 {
        padding: 14px
    }

    #apo-source {
        margin-bottom: 16px
    }
}

@media (max-width:450px) {

    #cn-titre-vignette,
    #cn-vignette-rub {
        width: 92vw
    }

    #modal_list_fa .hp-content-ffa {
        padding: 36px 26px 40px
    }

    #bloc-liste-fa {
        padding-top: 8px !important;
        padding-bottom: 38px !important
    }
}

#cn-fil-ariane.mobile-print {
    margin-bottom: 8px !important;
    padding-top: 16px;
    padding-bottom: 8px;
    border-top: 1px solid var(--color-gris-blanc);
    border-bottom: 0
}

@media (max-width:428px) {
    .mb-112 {
        margin: unset
    }

    .white-divider.mb-112 {
        margin-bottom: 16px !important
    }

    .info-group.ccr .info-group-input:not(.with-images) .input-autre {
        width: 190px !important
    }

    #cn-h1-nb-prod {
        flex-direction: column;
        align-items: start;
        margin-bottom: 24px
    }

    #h1-title {
        margin-bottom: 8px !important
    }

    #vr_plus {
        margin-top: 8px;
        align-self: start
    }

    .card-conseil.card-conseil-prod {
        flex-direction: column;
        padding: 16px;
        width: 92vw
    }

    .card-conseil .card-conseil-avatar {
        width: auto !important;
        margin: auto
    }

    .card-conseil .card-conseil-body .conseil {
        font-size: 16px
    }

    .card-conseil .card-conseil-body .conseil-title {
        font-size: 20px;
        max-width: 83vw
    }

    .card-conseil .card-conseil-body .conseil-link {
        margin-top: 16px
    }

    #sticky-text-1 {
        font-size: 16px !important
    }

    #sticky-text-2 {
        font-size: 8px
    }

    #car-demande-devis .card-devis {
        width: 92vw
    }
}

#zone-feed-back #zone-frm-feed-back,
#zone-feed-back #zone-onglet-feed-back {
    float: left;
    height: 100%;
    background: repeat-x #f9f9f9;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838
}

#zone-feed-back {
    position: fixed;
    width: auto;
    height: 482px;
    right: -11px;
    z-index: 2000
}

#zone-feed-back #zone-onglet-feed-back {
    width: 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-left: 1px solid #383838;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#f9f9f9), to(#e3e3e3));
    background-image: -webkit-linear-gradient(top, #00a4db, 0, #f9f9f9, 100%);
    background-image: -moz-linear-gradient(top, #f9f9f9 0, #e3e3e3 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0, #e3e3e3 100%)
}

#zone-feed-back #zone-onglet-feed-back.ouvrir-fd {
    position: relative
}

#zone-feed-back #zone-onglet-feed-back span {
    display: block;
    width: 20px;
    height: 154px;
    position: absolute;
    bottom: 35%;
    left: -21px;
    cursor: pointer
}

#zone-feed-back #zone-onglet-feed-back span.ouvrir-fd {
    background: url(/hellopro_fr/images/ouvrir_fd_rs.png?v=2017041915) no-repeat
}

@media(max-width:767px) {
    #zone-feed-back img {
        width: 100%
    }

    #zone-feed-back {
        position: absolute;
        top: 4%;
        height: 300px;
        right: 3px !important
    }

    #zone-feed-back #zone-onglet-feed-back span {
        bottom: 20%
    }
}

.ico-mhp-loader-btn {
    background: url(/hellopro_fr/images/loader.gif) no-repeat;
    background-position: 5px 0;
    width: 35px;
    height: 19px;
    float: unset;
    display: inline-block
}

#cn-description {
    margin-bottom: 40px
}

.btn-list-fa {
    padding: 14px 24px;
    width: fit-content;
    margin: auto;
    border-radius: 39px;
    border: 1px solid #fff;
    cursor: pointer
}

.btn-list-fa .bx {
    font-size: 19px
}

.card-product.lien-categ-fa {
    width: 115px;
    height: 124px;
    border: 1px solid #e9e9e9;
    box-shadow: none;
    cursor: pointer
}

.card-product.lien-categ-fa .card-image-product {
    width: 70px;
    height: 70px
}

.card-product.lien-categ-fa .card-image-product img {
    max-width: 70px;
    max-height: 70px
}

.card-product.lien-categ-fa .card-name-product {
    line-height: normal;
    color: var(--color-noir);
    text-align: center;
    font-size: 12px;
    letter-spacing: -.12px;
    margin-top: 5px
}

#bloc-liste-fa .card-product.card-v1 .card-name-product,
.card-product.lien-categ-fa .card-name-product {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

#modal_list_fa .hp-content-ffa {
    max-width: 672px;
    width: 100%;
    margin: 0 auto;
    padding: 48px 16px 50px
}

@media(max-width:674px) {
    #modal_list_fa .hp-content-ffa .conteneur_categorie {
        justify-content: space-evenly
    }
}

#voir-tout-categorie {
    cursor: pointer
}

#bloc-liste-fa {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #fff
}

.trigger_sticky #bloc-liste-fa {
    padding-top: 78px;
    padding-bottom: 90px
}

#bloc-liste-fa .card-product.card-v1 {
    border: 1px solid rgba(233, 233, 233, .62);
    height: 280px;
    padding-bottom: 16px
}

#bloc-liste-fa .card-product.card-v1 .card-name-product {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

#bloc-liste-fa .card-product.card-v1 .card-product-body {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end
}

#bloc-liste-fa .card-product.card-v1 .link-categ-fa .bx {
    font-size: 18px;
    position: relative;
    top: 4px
}

#bloc-liste-fa .card-product.card-v1:hover,
#modal_list_fa .card-product.lien-categ-fa:hover {
    background: #f5f6ff
}

#bloc-liste-fa .card-product.card-v1:hover .card-name-product,
#bloc-liste-fa .card-product.card-v1:hover .link-categ-fa,
#modal_list_fa .card-product.lien-categ-fa:hover .card-name-product {
    color: var(--color-bleu) !important
}

.dropdown_v2 .bxs-chevron-up:before {
    content: "\ed42";
    position: absolute;
    right: 0;
    padding-top: 15px
}

.dropdown_v2 .bxs-chevron-down:before {
    content: "\ed35";
    position: absolute;
    right: 0;
    padding-top: 15px
}

.dropdown_v2 .dropdown-action.bx {
    position: relative;
    width: 100%;
    padding-right: 20px
}

#bloc-faq-cat .bxs-chevron-down:before,
#bloc-faq-cat .bxs-chevron-up:before {
    padding-top: 5px
}

.bg_bxs_bell_ring {
    background: #f5f6ff url(/hellopro_fr/images/bxs-bell-ring.svg) 25px center no-repeat !important;
    background-size: 29px
}

.mode-liste .card-demande-groupe-titre {
    margin-left: 82px !important
}

.hp-carousel-control.bx-left-arrow-alt,
.hp-carousel-control.bx-right-arrow-alt {
    font-size: 20px
}

.carousel-item.card-devis {
    height: auto !important
}

.exemple-demande-de-devis {
    padding: 42px 0
}

.mode-mosaique .bg_bxs_bell_ring {
    background: #f5f6ff url(/hellopro_fr/images/bxs-bell-ring.svg) 15px 56px no-repeat !important;
    padding-top: 102px
}

.prix_sur_demande:before {
    content: "Prix sur demande";
    color: var(--color-gris);
    line-height: 24px;
    letter-spacing: -.01em;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px !important
}

.card-seller-product_2 {
    word-break: break-word !important
}

.mode-liste .ajout_dmd_devis.ajout_dmd_devis_2 {
    width: 240px
}

.mode-liste .badge-vendeur-certifie-img {
    margin-left: 8px
}

.txt_under_btn_parent .txt_under_btn {
    position: absolute;
    bottom: -22px
}

.txt_under_btn_parent {
    position: relative
}

.mode-mosaique .ajout_dmd_devis_2 {
    margin-bottom: 21px
}

.card-conseil .card-conseil-avatar img.img-conseil-card_2 {
    max-width: 250px;
    max-height: 150px;
    width: auto;
    height: auto
}

@media (max-width:552px) {

    .bg_bxs_bell_ring,
    .mode-mosaique .bg_bxs_bell_ring {
        background: #f5f6ff url(/hellopro_fr/images/bxs-bell-ring.svg) 15px 18px no-repeat !important;
        padding-top: 64px !important;
        background-size: 29px
    }

    .bg_bxs_bell_ring .card-demande-groupe-texte {
        margin-top: 12px
    }
}